<html>
<head>
    <%- include('../partial/head.ejs') %>
</head>
<body>
    <%- include('../partial/header.ejs') %>

    <p>Quiz <%= quizid %></p>
    <p>User <%= userid %></p>

    <p>Question: <%=question%></p>
    <p>Answer:</p>
    <ul>

    </ul>

    <button onclick="submitanswer()">Answer</button>

    <%- include('../partial/footer.ejs') %>

    <script src="js/index.js"></script>
</body>
</html>