<html>
<head>
    <%- include('../partial/head.ejs') %>
</head>
<body>
    <%- include('../partial/header.ejs') %>

    <p>Quiz <%= quizid %></p>
    <p>User <%= userid %></p>

    <p>Question:</p>
    <input type="text" id="question">
    <p>Answer: (Comma-separated)</p>
    <input type="text" id="answers">

    <button onclick="save()">Save</button>

    <p>Send this link: <b>/answer?quizid=<%= quizid %></b></p>

    <p><a href="/result?quizid=<%=quizid%>&userid=<%=userid%>">View answers</a></p>

    <%- include('../partial/footer.ejs') %>

    <script src="js/index.js"></script>
</body>
</html>