<html>
<head>
    <%- include('../partial/head.ejs') %>
</head>
<body>
    <%- include('../partial/header.ejs') %>

    <p>Quiz <%= quizid %></p>
    <p>User <%= userid %></p>

    <p>Question: <%= question %></p>

    <!-- TODO: LIST ALL ANSWERS + STATS -->

    <%- include('../partial/footer.ejs') %>

    <script src="js/index.js"></script>
</body>
</html>